// Update the colors for this demo
body {
  --color-text: #ffffff;
	--color-bg: #1f174e;
	--color-bg-2: #151436;
	--color-bg-3: #000000;
	--color-link: #8596df;
	--color-link-hover: #723bb7;
	background: radial-gradient(ellipse at 30% 48%, var(--color-bg) 0%, var(--color-bg-2) 45%, var(--color-bg-3) 150%);
}