// Update the colors for this demo
body {
  --color-text: #0f070a;
	--color-bg: #ffffff;
	--color-bg-2: #ecc7d5;
	--color-link: #4062BB;
	--color-link-hover: #52489C;
	background: radial-gradient(ellipse at 75% 0%, var(--color-bg) 50%, var(--color-bg-2) 250%);
}