// Update the colors for this demo
body {
  --color-text: #0f070a;
	--color-bg: #ffffff;
	--color-bg-2: #ecc7d5;
	--color-link: #4062BB;
	--color-link-hover: #52489C;
	background: radial-gradient(ellipse at 75% 0%, var(--color-bg) 50%, var(--color-bg-2) 250%);
}

gradientMargin = 800px;

.background {
	position absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
	// height: "calc(100% + %s)" % gradientMargin;
	// background: linear-gradient(200deg, var(--color-bg) 0%, var(--color-bg-2) 80%, var(--color-bg-3) 150%);
	z-index: -2;
	// transform: translateY(-(gradientMargin));
}