// Update the colors for this demo
body {
  --color-text: #0f070a;
	--color-bg: #fabd69;
	--color-bg-2: #f98e4a;
	--color-link: #317bd0;
	--color-link-hover: #317bd0;
	background: radial-gradient(ellipse at 100% 0%, #fed96f 0%, var(--color-bg) 50%, var(--color-bg-2) 115%);
}