// Update the colors for this demo
body {
  --color-text: #ffffff;
	--color-bg: #143261;
	--color-bg-2: #010915;
	--color-link: #4062BB;
	--color-link-hover: #52489C;
	background: radial-gradient(ellipse at 50% 50%, var(--color-bg) 40%, var(--color-bg-2) 150%);
}