// Update the colors for this demo
body {
  --color-text: #fff;
	--color-bg: #0e0e0f;
	--color-bg-2: #242635;
	--color-bg-3: #dc2c5a;
	--color-link: #dc2c5a;
	--color-link-hover: #ff0060;
}

gradientMargin = 800px;

.background {
	position absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: "calc(100% + %s)" % gradientMargin;
	// background: linear-gradient(200deg, var(--color-bg) 0%, var(--color-bg-2) 80%, var(--color-bg-3) 150%);
	background: radial-gradient(ellipse at 500% 0%, var(--color-bg) 50%, var(--color-bg-2) 80%, var(--color-bg-3) 100%);
	z-index: -2;
	transform: translateY(-(gradientMargin));
}